{% extends 'layout/base.html' %}

{% load i18n django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <div>
        <h1>{{ board.name }}</h1>
    </div>
    <div>
        <a href="{% url 'board_list' %}">{% trans 'Back to list' %}</a>
    </div>
    <div>
        {% render_table table %}
    </div>
    <hr/>
    <div>
        <h3>{% trans 'Add Transaction' %}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="{% trans 'Add' %}" class="btn btn-primary">
        </form>
    </div>
    <div>
        <a href="{% url 'board_list' %}">{% trans 'Back to list' %}</a>
    </div>
{% endblock %}