{% extends 'layout/base_vue.html' %}

{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load i18n %}

{% block content %}
    <div>
        <h1>{{ board.name }}</h1>
    </div>
    <div>
        <a href="{% url 'board_list' %}">{% trans 'Back to list' %}</a>
    </div>
    <div>
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {{ filter.form|crispy }}
                <input type="submit" value="{% trans 'Filter' %}" class="btn btn-primary">
            </form>
        {% endif %}
        {% render_table table %}
    </div>
    <hr/>
    <div>
    {% comment %}
        <h3>{% trans 'Add Transaction' %}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="{% trans 'Add' %}" class="btn btn-primary">
        </form>
    {% endcomment %}
        <h3>{% trans 'Add Transactions' %}</h3>
    {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            {% crispy form form_helper %}
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'board_list' %}">{% trans 'Back to list' %}</a>
    </div>
{% endblock %}